<style>
    .custom-item {
      border: none;
    }
    .anchorRRedirect {
      position: absolute;
      top: 212px;
      right: 14px;
      font-size: 15px;
      color: #3b5998;
    }
    .listTopMargin {
      margin-top: 10px;
    }
    .travelListTopMargin {
      margin-top: -40px;
    }
    #outer {
      width: 100%;
      text-align: center;
    }
    .inner {
      display: inline-block;
    }
    ul.ctcClaimList {
      margin-top: 20px;
    }
    ul.ctcClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .ctcClaimList b {
      display: inline-block;
      width: 40%;
      position: relative;
      padding-right: 10px;
    }
    .ctcClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.travelClaimList {
      width: 125%;
    }
    ul.travelClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .travelClaimList b {
      display: inline-block;
      width: 32%;
      position: relative;
      padding-right: 10px;
    }
    .travelClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.odClaimList {
      margin-top: 20px;
    }
    ul.odClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .odClaimList b {
      display: inline-block;
      width: 35%;
      position: relative;
      padding-right: 10px;
    }
    .odClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.attClaimList {
      width: 125%;
    }
    ul.attClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .attClaimList b {
      display: inline-block;
      width: 38%;
      position: relative;
      padding-right: 10px;
    }
    .attClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ol,
    ul {
      margin-bottom: 0px !important;
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .tab-item.tab-item-active,
    .tab-item.active,
    .tab-item.activated {
      opacity: 1;
    }
    .tab-item {
      opacity: 0.7;
    }
    .custom-row {
      padding: 0px;
    }
    .custom-padding {
      padding: 5px 10px;
    }
    .custom-top {
      top: 10px;
      left: 13px;
    }
    .custom-paddingTop {
      padding-top: 11px;
    }
    .custom_OD {
      padding-top: 11px;
      padding-bottom: 0px;
    }
    .custom-paddingBottom {
      padding-bottom: 0px;
    }
    .cust-card {
      padding: 50px 0px 0px 0px;
    }
    .custom-requestApprove {
      font-size: 11px;
      color: green;
    }
    .custom-requestRejcted {
      font-size: 11px;
      color: red;
    }
    .custom-requestOther {
      font-size: 11px;
      color: orange;
    }
    .custom-fontSize {
      font-size: 12px;
    }
    .modal-wrapper {
      position: absolute;
      top: 25%;
      display: block;
      width: 90%;
      min-height: 45%;
      padding: 5%;
    }
  
    .modal-backdrop-bg {
      background-color: rgba(255, 255, 255, 0.85);
    }
  
    .modal {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
  
    .modal-ion-content {
      padding: 15px;
      font-size: 0.85em;
    }
  
  
    .badge.badgeCustom {
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 18px;
      display: block;
      position: absolute;
      top: 0;
      color: #fff !important;
      font-size: 10px !important;
      padding: 0;
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .tab-item.tab-item-active,
    .tab-item.active,
    .tab-item.activated {
      opacity: 1;
    }
    .tab-item {
      opacity: 0.7;
    }
    /* .slick-slide .slide-content {
    margin: 0 3%;
    padding: 10px 5px;
  
  } */
  
    .slick-prev,
    .slick-next {
      position: absolute;
      right: 10%;
      background: #777;
      border: none;
      color: transparent;
      width: 30px;
      height: 30px;
    }
  
    .slick-prev:before,
    .slick-next:before {
      content: ">";
      color: #fff;
      font-size: 25px;
    }
  
    .slick-prev {
      left: 10%;
    }
  
    .slick-prev:before {
      content: "<";
    }
  
    .slick-dots {
      list-style: none;
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
    }
  
    .slick-dots li {
      display: inline-block;
    }
  
    .slick-dots li button {
      transition: 0.2s background-color ease-in-out 0s;
      border: none;
      padding: 0;
      color: transparent;
      width: 10px;
      height: 10px;
      background-color: #777;
      margin-right: 10px;
      border-radius: 50%;
    }
  
    .slick-dots li.slick-active button {
      background-color: #0a9dc7;
    }
    /* .slick-slider {
      width: 100%;
      position: relative;
      transform: translate(-50%, -50%);
      top: 0%;
      left: 50%;
  } */
    .slick-slider {
      width: 100%;
      position: relative;
      top: 0%;
    }
    /* ===form List=== */
    /* .customBorderRadius .dividerClass {
      line-height: 1.5 !important;
  }
  .customBorderRadius label {
      font-size: 13px !important;
      line-height: 1.5 !important;
  }
  .customBorderRadius .row {
      margin: 0 5px !important;
      padding: 0 5px !important;
  }
  .customBorderRadius.col-xs-8 {
      font-size: 13px !important;
  }
  .customBorderRadius .item-note {
      padding: 10px 10px 0 0 !important;
      margin-bottom: 2px !important;
  } */
  .inner .btn-pad.claimClass{
    margin: 14px 4px 5px 10px;
      padding: 0 8px;
  }
  .inner .badge{
    position: relative;
    margin: 0 -8px;
    float: right;
  }
  .slick-carousel .fa{
    font-size: 40px;
    color: #777676;
  }
  .slick-carousel p {
      color: #212121;
      margin: 0 0 10px;
      font-size: 0.83em;
      text-align: center;
      margin-left: -2%;
      margin-top: 0%;
      margin-bottom: 2px;
      font-weight: 400;
  }
  </style>

  <ion-view>
    <div class="bar bar-footer hide-on-keyboard-open" style="background-color:#000; background-size: 100% 0px;">
        <div class="title" style="height: 20px;">
            <h6 style="font-size: 0.5em;color:#fff;margin-top: 5px;height: 10px;
                margin-bottom: 5px;">Powered by HR Align</h6>
        </div>
    </div>
    <ion-content has-bouncing="false" style="overflow-y: auto;top:0%" class="requisionSection">

      
        <div class="custom-header" style="padding-top: 0px;padding-bottom: -20px;">
            <h4 class="subHeaderClass" style="margin: 0px;"> <span class="backIcon">
              <i class="icon ion-ios-arrow-back" ng-click="redirectOnBack()"></i></span>
                <b style="vertical-align: super;"></b> Timesheet Approvals </b></h4>
                <a ng-click="goToRequisitions()" class="approvalLinkClass">
                  <img src="./img/requisitionNew.png" style="width: 25px; height: 25px; margin-right: 3px;text-align: center;" />
                </a>
        </div>

        <div id="timesheetEmployee" class="cust-card" >
          <!-- <div id="colorCode" ng-click="openOnTapColor()" class="list card customBorderRadius" style="padding: 5px;">
          <strong>Show Color Codes</strong>
          <div class="row list card customBorderRadius" id="colorCodeInner"  >
            <div class="row">
              <div class="col-xs-6 col-sm-6">
                <div class="row">
                  <div class="col-xs-4 col-sm-4" style="background-color: #ccffcc;">
                      hell
                  </div>
                  <div class="col-xs-8 col-sm-8">
                    <label >Approved</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="row">
                <div class="col-xs-4 col-sm-4" style="background-color: #ffffb3;">

                </div>
                <div class="col-xs-8 col-sm-8">
                  <label >Sent For Approval</label>
                </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6">
                <div class="row">
                <div class="col-xs-4 col-sm-4" style="background-color: #b3e6ff;">

                </div>
                <div class="col-xs-8 col-sm-8">
                  <label >Saved</label>
                </div>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="row">
                <div class="col-xs-4 col-sm-4" style="background-color:#ff9999 ;">

                </div>
                <div class="col-xs-8 col-sm-8">
                  <label >Rejected / Cancelled</label>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div> -->
            <!-- <div class="search">
                <span >
              <input type="submit" value="&#xf002;" class="search-btn fa ib-m">
               <div class="search-slide ib-m">
                  <input type="search" id="reqSearch1" placeholder="Enter your search" class="ib-m" ng-model="searchObj.searchQuery"/>
                  <div class="search-close ib-m">
                    <i class="fa fa-times-circle" aria-hidden="true"></i></div>
                </div>
              </span>
              <span class="recentRecord" style="margin-left:12px;font-size: 0.8em; font-style: oblique;">
                Recent 50 applications.
              </span>
                <span class="refreshBtn" style="margin-top: 2%;">
                  <i ng-click="refreshTimeSheetList()" class="fa fa-refresh" ></i>
                </span>
              </div> -->
              <div class="form-group row padding-left:20px;">
                <label class="col-sm-2 col-xs-2 col-form-label" style="margin-top: 2%;">Month</label>
                <select class="col-sm-4 col-xs-4"  id="month" ng-change="doChangeMonth()" ng-model="selectedValue.selectedMonth" >  
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <label class="col-sm-2 col-xs-2 col-form-label" style="margin-top: 2%;">Year</label>
                 <select 
                 class="col-sm-2 col-xs-2"
                id="year"
                ng-change="doChangeYear()"
                ng-model="selectedValue.selectedYear"
                ng-options="item for item in listYear"
                ></select>
              </div>
              <div class="form-group row">
                <input type="checkbox" id="selectAll" ng-click="selectAll()"class="col-sm-2 col-xs-2"/>
                <button type="button" id="multiApproveButton" ng-click="goMultiApprove()"
								class="btn btn-success mr-10">
								<i class="fa fa-check mr-10" aria-hidden="true"></i>Approve
							</button>
							<button type="button" id="multiRejectButton" ng-click="goMultiReject()"
								class="btn btn-danger">
								<i class="fa fa-times mr-10" aria-hidden="true"></i>Reject
							</button>
              </div>
        </div>
        <div  id="EmpNameHeader_{{employeeCode}}" class="list card customBorderRadius animate slideup"  
        style="background-color: #5cb85c; padding-top: 5px;"
        ng-repeat = "(employeeCode,employeeDetails) in employees">
       
            <div class="form-group row" ng-repeat="employeeData in employeeDetails">
                <input type="checkbox" class="col-sm-2 col-xs-2" id="checkbox_{{employeeCode}}"
                  ng-click="deselectCheckbox(employeeCode)"
                /> 
                <div  class="col-sm-6 col-xs-6 "
                ng-click="openDateListForEmp(employeeCode)"   
                 ><strong>{{employeeData.empNameWithCode}}</strong> </div>
                 <div  class="col-sm-4 col-xs-4"
                       
                 ><strong>{{employeeData.totWrkHrs}}</strong> Hours </div>
            
            </div>
        <div id="timesheetList"  >
        <div 
            style="display: none; width: 100%;"
            ng-repeat="(employee,employeeTimesheet) in approverTimeSheetDataMap"
            ng-if="employeeCode == employee"
            id="empDateList_{{employee}}"
        >
          <div ng-repeat="(dateOfList,dateRelatedTimesheet) in employeeTimesheet"
          class="list card customBorderRadius animated slideInUp"
          id="header_{{employee}}_{{dateOfList}}"
          style="background-color: #ffffb3;padding-top: 5px;"
          ng-if="dateRelatedTimesheet.length > 0"
          >
            <div  class="form-group row">
                <!-- <label  class="col-sm-4 col-xs-4 col-form-label">Date</label><span class="dividerClass">:</span> -->
                <div class="col-sm-2 col-xs-2">
                 <i id="plusIcon_{{employee}}_{{dateOfList}}" class="fa fa-plus"  ng-click="openDetailInfo(employee,dateOfList)"></i>
                 <i id="minusIcon_{{employee}}_{{dateOfList}}" class="fa fa-minus"  ng-click="openDetailInfo(employee,dateOfList)" style="display: none;"></i>
                  
                </div>
               <div class="col-xs-6 col-sm-4"
                ng-click="openDetailInfo(employee,dateOfList)"
               >
                <strong>{{dateOfList}}</strong> 
               </div>
               <div class="col-sm-4 col-xs-4" id="appRejButton_{{employee}}_{{dateOfList}}">
                <span> <i
                      class="fa fa-check-circle text-success periodsICon" 
                      ng-click = "showRemarkDivApprove(employee,dateOfList)"
                      style="font-size: 24px;"
                       title=""
                      ></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <!-- ng-click="'sendForApproval(\''+${iterStatDD.index} + '\',this);'" -->
              
               
                <span>  <i
                      class="fa fa-times-circle text-danger periodsICon" 
                      ng-click = "alert('rej');showRemarkDivReject(employee,dateOfList)"
                      style="font-size: 24px;"
                       title=""
                      ></i></span>&nbsp;&nbsp;
                      <!-- ng-click="'sendForApproval(\''+${iterStatDD.index} + '\',this);'" -->
              
               
               </div>
               
                 


            </div>
            <div  id="remSubTabApprove_{{employee}}_{{dateOfList}}" style="display: none;">
              <div class="form-group-row" style="padding: 10px;">
              <textarea cols="5" rows="3" id="approverRemark_{{employee}}_{{dateOfList}}" style="background-color:white; border: black;"></textarea>
              </div>
               <div class="form-group row" style="margin-top: 20px;">
                <center> <button type="submit" class="btn btn-primary" id="submitApprove_{{employee}}_{{dateOfList}}"
                  style="margin-left: 100%;"
                  ng-click="approve(employee,dateOfList)">
                  <i class="fa fa-check "></i>
                  Submit</button></center>
               </div> 
            </div>
            
            <div  id="remSubTabReject_{{employee}}_{{dateOfList}}" style="display: none;">
              <div class="form-group-row" style="padding: 10px;">
             <textarea cols="5" rows="3" id="rejectRemark_{{employee}}_{{dateOfList}}" style="border: black;"></textarea>
              </div>
               <div class="form-group row" style="margin-top: 20px;">
                <center> <button type="submit" class="btn btn-primary" id="submitReject_{{employee}}_{{dateOfList}}"
                  style="margin-left: 100%;"
                  ng-click="reject(employee,dateOfList)" >
                  <i class="fa fa-check "></i>
                  Submit</button></center>
               </div> 
            </div>
           
            
            <!-- <div  class="form-group row">
                <label  class="col-sm-4 col-xs-4 col-form-label">Status</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8"
                        id="status_{{$index}}"
                 >{{headerList[$index].status}}</div>

            </div> -->
           
            <!-- <input type="hidden" id="keyDate" name="keyDate"
			value="${instance.key}"
            name="timeSheetEmployeeGridList[__${iterStatDD.index}__].monthYear" /> -->
            
            <!-- INNER NG_REPEAT BEGINS -->
            <div id="inner_div_{{employee}}_{{dateOfList}}" style="display: none;width: 100%;" >
              
            <div id="inner" class="form-group list card customBorderRadius" 
                 ng-repeat="timesheet in dateRelatedTimesheet"
                 style="margin-bottom: 5px;background-color: #fff;padding:5px;"
            >
                <!-- <div > -->
                <!-- <input type="hidden"
                    value="${timeSheet.timeSheetDaily.status}"
                    name="statusEach" id="'statusEach_{{$index}}"
                    /> -->
                <!-- <span id="timeSheetEmployeeId_{{$index}}" class="tId" style="display: none">[[${timeSheet.timeSheetDaily.timeSheetEmployeeId}]]</span> -->
                <!-- <span class="status" style="display: none">[[${timeSheet.timeSheetDaily.status}]]</span> -->
                <!-- </div> -->
                <div  class="form-group row">
                    <label  class="col-sm-4 col-xs-4 col-form-label">Project</label><span class="dividerClass">:</span>
                    <div  class="col-sm-8 col-xs-8"
                            id="projectName_{{$index}}{{index}}"
                     > {{timesheet.projectMasterName}}</div>
    
                </div>
                <div  class="form-group row">
                    <label  class="col-sm-4 col-xs-4 col-form-label">Activity</label><span class="dividerClass">:</span>
                    <div  class="col-sm-8 col-xs-8"
                            id="activityName_{{$index}}{{index}}"
                     >{{timesheet.activityMasterName}} </div>
    
                </div>
                <div  class="form-group row">
                    <label  class="col-sm-4 col-xs-4 col-form-label">Sub Activity</label><span class="dividerClass">:</span>
                    <div  class="col-sm-8 col-xs-8"
                            id="subActivityName_{{$index}}{{index}}"
                     >{{timesheet.subActivityMasterName}} </div>
    
                </div>
                <div  class="form-group row">
                    <label  class="col-sm-4 col-xs-4 col-form-label">Hours</label><span class="dividerClass">:</span>
                    <div  class="col-sm-8 col-xs-8"
                            id="noOfHours_{{$index}}{{index}}"
                     >{{timesheet.noOfHrs}} </div>
    
                </div>
                <div  class="form-group row">
                    <label  class="col-sm-4 col-xs-4 col-form-label">Remark</label><span class="dividerClass">:</span>
                    <div  class="col-sm-8 col-xs-8"
                            id="remark_{{$index}}{{index}}"
                     >{{timesheet.remarks}}</div>
    
                </div>
                <div  class="form-group row">
                  <label  class="col-sm-4 col-xs-4 col-form-label">Approver Remarks</label><span class="dividerClass">:</span>
                  <div  class="col-sm-8 col-xs-8"
                          id="status_{{employee}}_{{approverRemarks}}"
                   >{{timesheet.approverRemarks}}</div>
  
              </div>
              <div  class="form-group row">
                <label  class="col-sm-4 col-xs-4 col-form-label">Approved Date</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8"
                ng-if="timesheet.status=='APPROVED' || timesheet.status=='REJECTED' || timesheet.status=='CANCELLATION APPROVED' || timesheet.status=='CANCELLATION REJECTED'"
                        id="status_{{employee}}_{{approvedDate}}"
                 >{{timesheet.approvedDate}}</div>

            </div>
              <div  class="form-group row">
                <label  class="col-sm-4 col-xs-4 col-form-label">Status</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8"
                        id="status_{{employee}}_{{dateOfList}}"
                 >{{timesheet.status}}</div>

            </div>
              <div  class="form-group row" style="display: none;">
                <label  class="col-sm-4 col-xs-4 col-form-label">Status</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8"
                        id="employeeId_{{employee}}_{{dateOfList}}"
                 >{{timesheet.employeeId}}</div>

            </div>

               

            </div>
          </div>
            <!-- INNER REPEAT ENDS !!!!!!!!! -->
            

        </div>
      </div>
    </div>
</div>
    
    </ion-content>
  </ion-view>