<style>
    .customRadio {
        display: none;
    }

    .customRadio+label {
        display: inline-block;
        margin: -2px;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
        background-image: -o-linear-gradient(top, #fff, #e6e6e6);
        background-image: linear-gradient(to bottom, #fff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #ccc;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .customRadio:checked+label {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        /*        background-color:#0066ff;
                color: white;*/
    }

    input[type="radio"] {
        margin-top: -1px;
        vertical-align: middle;
    }

    #check,
    #check1 {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        background: white;
        border-radius: 1px;
        box-sizing: border-box;
        position: relative;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        border-width: 0;
        transition: all .3s linear;
        border: 2px solid
    }

    #check:checked,
    #check1:checked {
        background: url("img/tick.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #check:focus,
    #check1:focus {
        outline: 0 none;
        box-shadow: none;
    }

    .textareaBox {
        margin-left: 2%;
        width: 96%;
        padding-bottom: 5%;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .custom-card {
        margin-top: 0px;
        margin-bottom: 20px;
        border-radius: 9px;
        border: 1px solid #007ec1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .item-select select {
        max-width: 68%;
    }
</style>
<ion-view>

    <div class="bar bar-footer hide-on-keyboard-open"
        style="background-color:#000; background-size: 100% 0px;">
        <div class="title" style="height: 20px;">
            <h6 style="font-size: 0.5em;color:#fff;margin-top: 5px;height: 10px;
                margin-bottom: 5px;">Powered by HR Align</h6>
        </div>
    </div>
    <ion-content has-bouncing="false" class="item-divider grayBackColor"
        style="overflow-y: auto;">

        <div class="custom-header" style="padding: 0px;padding-left:
            15px;margin-top:-8px;">
            <h4 class="custom-header" style="padding-top:5px;">
                <b>New App Update</b>
            </h4>
        </div>
        <br><br>
        <div class="container">
            <p>Good news… the App is updated to new experience. Please get the new version. </p>
            <br>
            <br>
            <center>
                <button class="button  button-positive"
                    style="width: 80%;" ng-click="getNewApp()">Get it !!!
                    </button>
                </center>  
                <center>
                <button class="button  button-positive"
                    style="width: 80%;margin-top:40%;" 
                    ng-click="extiFromApp()">Close App</button>
					<br><br><br>
					<!--<p>Current App Version: ({{CurrAppVersion}}). </p> -->
                </center>  
        </div>

    </ion-content>
</ion-view>