<style>
    .custom-item {
      border: none;
    }
    .anchorRRedirect {
      position: absolute;
      top: 212px;
      right: 14px;
      font-size: 15px;
      color: #3b5998;
    }
    .listTopMargin {
      margin-top: 10px;
    }
    .travelListTopMargin {
      margin-top: -40px;
    }
    #outer {
      width: 100%;
      text-align: center;
    }
    .inner {
      display: inline-block;
    }
    ul.ctcClaimList {
      margin-top: 20px;
    }
    ul.ctcClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .ctcClaimList b {
      display: inline-block;
      width: 40%;
      position: relative;
      padding-right: 10px;
    }
    .ctcClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.travelClaimList {
      width: 125%;
    }
    ul.travelClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .travelClaimList b {
      display: inline-block;
      width: 32%;
      position: relative;
      padding-right: 10px;
    }
    .travelClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.odClaimList {
      margin-top: 20px;
    }
    ul.odClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .odClaimList b {
      display: inline-block;
      width: 35%;
      position: relative;
      padding-right: 10px;
    }
    .odClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ul.attClaimList {
      width: 125%;
    }
    ul.attClaimList li {
      font-size: 0.8em;
      padding: 5px 0px 0px 0px;
      min-width: 435px;
    }
    .attClaimList b {
      display: inline-block;
      width: 38%;
      position: relative;
      padding-right: 10px;
    }
    .attClaimList b::after {
      content: ":";
      position: absolute;
      right: 10px;
    }
  
    ol,
    ul {
      margin-bottom: 0px !important;
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .tab-item.tab-item-active,
    .tab-item.active,
    .tab-item.activated {
      opacity: 1;
    }
    .tab-item {
      opacity: 0.7;
    }
    .custom-row {
      padding: 0px;
    }
    .custom-padding {
      padding: 5px 10px;
    }
    .custom-top {
      top: 10px;
      left: 13px;
    }
    .custom-paddingTop {
      padding-top: 11px;
    }
    .custom_OD {
      padding-top: 11px;
      padding-bottom: 0px;
    }
    .custom-paddingBottom {
      padding-bottom: 0px;
    }
    .cust-card {
      padding: 50px 0px 0px 0px;
    }
    .custom-requestApprove {
      font-size: 11px;
      color: green;
    }
    .custom-requestRejcted {
      font-size: 11px;
      color: red;
    }
    .custom-requestOther {
      font-size: 11px;
      color: orange;
    }
    .custom-fontSize {
      font-size: 12px;
    }
    .modal-wrapper {
      position: absolute;
      top: 25%;
      display: block;
      width: 90%;
      min-height: 45%;
      padding: 5%;
    }
  
    .modal-backdrop-bg {
      background-color: rgba(255, 255, 255, 0.85);
    }
  
    .modal {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
  
    .modal-ion-content {
      padding: 15px;
      font-size: 0.85em;
    }
  
  
    .badge.badgeCustom {
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 18px;
      display: block;
      position: absolute;
      top: 0;
      color: #fff !important;
      font-size: 10px !important;
      padding: 0;
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .tab-item.tab-item-active,
    .tab-item.active,
    .tab-item.activated {
      opacity: 1;
    }
    .tab-item {
      opacity: 0.7;
    }
    /* .slick-slide .slide-content {
    margin: 0 3%;
    padding: 10px 5px;
  
  } */
  
    .slick-prev,
    .slick-next {
      position: absolute;
      right: 10%;
      background: #777;
      border: none;
      color: transparent;
      width: 30px;
      height: 30px;
    }
  
    .slick-prev:before,
    .slick-next:before {
      content: ">";
      color: #fff;
      font-size: 25px;
    }
  
    .slick-prev {
      left: 10%;
    }
  
    .slick-prev:before {
      content: "<";
    }
  
    .slick-dots {
      list-style: none;
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
    }
  
    .slick-dots li {
      display: inline-block;
    }
  
    .slick-dots li button {
      transition: 0.2s background-color ease-in-out 0s;
      border: none;
      padding: 0;
      color: transparent;
      width: 10px;
      height: 10px;
      background-color: #777;
      margin-right: 10px;
      border-radius: 50%;
    }
  
    .slick-dots li.slick-active button {
      background-color: #0a9dc7;
    }
    /* .slick-slider {
      width: 100%;
      position: relative;
      transform: translate(-50%, -50%);
      top: 0%;
      left: 50%;
  } */
    .slick-slider {
      width: 100%;
      position: relative;
      top: 0%;
    }
    /* ===form List=== */
    /* .customBorderRadius .dividerClass {
      line-height: 1.5 !important;
  }
  .customBorderRadius label {
      font-size: 13px !important;
      line-height: 1.5 !important;
  }
  .customBorderRadius .row {
      margin: 0 5px !important;
      padding: 0 5px !important;
  }
  .customBorderRadius.col-xs-8 {
      font-size: 13px !important;
  }
  .customBorderRadius .item-note {
      padding: 10px 10px 0 0 !important;
      margin-bottom: 2px !important;
  } */
  .inner .btn-pad.claimClass{
    margin: 14px 4px 5px 10px;
      padding: 0 8px;
  }
  .inner .badge{
    position: relative;
    margin: 0 -8px;
    float: right;
  }
  .slick-carousel .fa{
    font-size: 40px;
    color: #777676;
  }
  .slick-carousel p {
      color: #212121;
      margin: 0 0 10px;
      font-size: 0.83em;
      text-align: center;
      margin-left: -2%;
      margin-top: 0%;
      margin-bottom: 2px;
      font-weight: 400;
  }
  </style>

<ion-view>

    <div class="bar bar-footer hide-on-keyboard-open" style="background-color:#000; background-size: 100% 0px;">
        <div class="title" style="height: 20px;">
            <h6 style="font-size: 0.5em;color:#fff;margin-top: 5px;height: 10px;
                margin-bottom: 5px;">Powered by HR Align</h6>
        </div>
    </div>
    <ion-content has-bouncing="false" style="overflow-y: auto;top:0%" class="requisionSection">
        <div class="custom-header" style="padding-top: 0px;padding-bottom: 0px;">
            <h4 class="subHeaderClass" style="margin: 0px;"> <span class="backIcon">
              <i class="icon ion-ios-arrow-back" ng-click="redirectOnBack()"></i></span>
                <b style="vertical-align: super;"> Shift Change Application </b></h4>
                <a ng-if="isARTorFRT == 'true' || isGroupMasterReportee == 'true'"
                 ng-click="goToApprovals()" class="approvalLinkClass">
                  <img src="./img/approveNew.png" style="width: 25px; height: 25px; margin-right: 3px;text-align: center;" />
                </a>
        </div>
        <div id="ShiftChangeRequestIDReq" style="margin-top:-23%" 
		ng-show="IsShiftChangeAccessible == 'true'" class="cust-card"  >
            <!-- <label class="item item-input" style="margin-top:25px;padding: 6px 7px 5px 16px!important;" >
              <i class="icon ion-search placeholder-icon"></i>
              <input  id="reqSearch4"  type="search"  placeholder="Search"  ng-model="searchObj.searchShift"/>
            </label> -->
            <br><br>
            <div class="search">
              <span >
            <input type="submit" value="&#xf002;" class="search-btn fa ib-m">
             <div class="search-slide ib-m">
                <input type="search" id="reqSearch4" placeholder="Enter your search" class="ib-m" ng-model="searchObj.searchShift"/>
                <div class="search-close ib-m">
                  <i class="fa fa-times-circle" aria-hidden="true"></i></div>
              </div>
            </span>
            <span class="recentRecord" style="margin-left:12px;font-size: 0.8em; font-style: oblique;">
              Recent 50 applications.
            </span>
              <span class="refreshBtn" style="margin-top: 2%;">
                <i ng-click="refreshSCList()" class="fa fa-refresh" ></i>
              </span>
            </div>
            <br />
            <center>
              <button class="button button-small button-outline button-positive" ng-click="reDirectToShiftChangePage()" > Apply For Shift Change </button>
            </center>
            <!-- <div class="row" style="margin-bottom: -7% !important;">
              <div class="col col-75">
                <p style="margin-left:12px;font-size: 0.8em; font-style: oblique;"> Recent 50 applications. </p>
              </div>
              <div class="col col-25">
                <img
                  style="width: 25px;height: 25px;margin-left: 40%;margin-top: -5%;"
                  src="./img/refreshicon.png"
                  ng-click="refreshSCList()"
                />
              </div>
            </div> -->
            <!-- <span class="refreshBtn" style="margin-top: -7%;">
              <i ng-click="refreshSCList()" class="fa fa-refresh" ></i>
            </span> -->
            <div  class="list card customBorderRadius" ng-repeat="shiftChangeAppli in shiftChangeAppliList | filter: searchObj.searchShift | orderBy:'-shiftChangeAppli.reqDate'"
              ng-if="shiftChangeAppli.status =='SENT FOR APPROVAL' || shiftChangeAppli.status =='SENT FOR CANCELLATION'">
      
              <div class="remarkcomments">
                <h2 class="item-note custom-requestApprove"  ng-if="shiftChangeAppli.status == 'APPROVED' ||
                                        shiftChangeAppli.status == 'CANCELLATION APPROVED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'REJECTED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLATION REJECTED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestOther" ng-if="shiftChangeAppli.status != 'REJECTED' &&
                          shiftChangeAppli.status != 'APPROVED' && shiftChangeAppli.status != 'CANCELLED' &&
                          shiftChangeAppli.status != 'CANCELLATION APPROVED' && shiftChangeAppli.status != 'CANCELLATION REJECTED'" >
                      {{shiftChangeAppli.status}}<br>{{shiftChangeAppli.approvalPendingFrom}}
                    </h2>
              </div>
      
      
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Date</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.reqDate|date:'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Roaster Shift</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.rosterShiftName}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Shift Change To</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.changedShiftName}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Reason For Shift Change</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.reasonToChange}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Approver Remarks</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.appRemarks}}
                </div>
              </div>
      
       <!-- <div class="item custom-item custom-padding item-text-wrap">
                <div class="row custom-row">
                  <div class="col col-80">
                    <ul class="odClaimList">
                      <li>
                        <b>Date</b>{{shiftChangeAppli.reqDate|date:'dd/MM/yyyy'}}
                      </li>
                      <li>
                        <b>Roaster Shift</b>{{shiftChangeAppli.rosterShiftName}}
                      </li>
                      <li>
                        <b>Shift Change To</b>{{shiftChangeAppli.changedShiftName}}
                      </li>
                      <li> <b>Reason For Shift Change</b >{{shiftChangeAppli.reasonToChange}}
                      </li>
                      <li><b>Approver Remarks</b><span>{{shiftChangeAppli.appRemarks}}</span></li>
                    </ul>
                  </div>
                  <div class="col col-20" style="margin-top:5px;">
                    <h2 class="item-note custom-requestApprove"  ng-if="shiftChangeAppli.status == 'APPROVED' ||
                                        shiftChangeAppli.status == 'CANCELLATION APPROVED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'REJECTED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLATION REJECTED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestOther" ng-if="shiftChangeAppli.status != 'REJECTED' &&
                          shiftChangeAppli.status != 'APPROVED' && shiftChangeAppli.status != 'CANCELLED' &&
                          shiftChangeAppli.status != 'CANCELLATION APPROVED' && shiftChangeAppli.status != 'CANCELLATION REJECTED'" >
                      {{shiftChangeAppli.status}}<br>{{shiftChangeAppli.approvalPendingFrom}}
                    </h2>
                  </div>
                </div>
              </div> -->
            </div>
      
            <div class="list card customBorderRadius"
              ng-repeat="shiftChangeAppli in shiftChangeAppliList | filter: searchObj.searchShift | orderBy:'-fromDate'"
              ng-if="!(shiftChangeAppli.status =='SENT FOR APPROVAL' || shiftChangeAppli.status =='SENT FOR CANCELLATION')" >
      
      
              <div class="remarkcomments">
                <h2 class="item-note custom-requestApprove"  ng-if="shiftChangeAppli.status == 'APPROVED' ||  shiftChangeAppli.status == 'CANCELLATION APPROVED'"  >
                  {{shiftChangeAppli.status}}
                </h2>
                <h2 class="item-note custom-requestRejcted"  ng-if="shiftChangeAppli.status == 'CANCELLED'" >
                  {{shiftChangeAppli.status}}
                </h2>
                <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'REJECTED'"  >
                  {{shiftChangeAppli.status}}
                </h2>
                <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLATION REJECTED'"  >
                  {{shiftChangeAppli.status}}
                </h2>
                <h2  class="item-note custom-requestOther"
                  ng-if="shiftChangeAppli.status != 'REJECTED' &&
                      shiftChangeAppli.status != 'APPROVED' && shiftChangeAppli.status != 'CANCELLED' &&
                      shiftChangeAppli.status != 'CANCELLATION APPROVED' && shiftChangeAppli.status != 'CANCELLATION REJECTED'" >
                  {{shiftChangeAppli.status}}
                </h2>
              </div>
      
      
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Date</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.reqDate|date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Roaster Shift</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.rosterShiftName}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Shift Change To</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.changedShiftName}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Reason For Shift Change</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.reasonToChange}}
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-4 col-xs-4 col-form-label">Approver Remarks</label><span class="dividerClass">:</span>
                <div  class="col-sm-8 col-xs-8">
                  {{shiftChangeAppli.appRemarks}}
                </div>
              </div>
      <!-- <div class="item custom-item custom-padding item-text-wrap">
                <div class="row custom-row">
                  <div class="col col-80">
                    <ul class="odClaimList">
                      <li>
                        <b>Date</b>{{shiftChangeAppli.reqDate|date: 'dd/MM/yyyy'}}
                      </li>
                      <li>
                        <b>Roaster Shift</b>{{shiftChangeAppli.rosterShiftName}}
                      </li>
                      <li>
                        <b>Shift Change To</b>{{shiftChangeAppli.changedShiftName}}
                      </li>
                      <li>
                        <b>Reason For Shift Change</b >{{shiftChangeAppli.reasonToChange}}
                      </li>
                      <li><b>Approver Remarks</b><span>{{shiftChangeAppli.appRemarks}}</span></li>
                    </ul>
                  </div>
                  <div class="col col-20" style="margin-top:5px;">
                    <h2 class="item-note custom-requestApprove"  ng-if="shiftChangeAppli.status == 'APPROVED' ||  shiftChangeAppli.status == 'CANCELLATION APPROVED'"  >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted"  ng-if="shiftChangeAppli.status == 'CANCELLED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'REJECTED'"  >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2 class="item-note custom-requestRejcted" ng-if="shiftChangeAppli.status == 'CANCELLATION REJECTED'"  >
                      {{shiftChangeAppli.status}}
                    </h2>
                    <h2  class="item-note custom-requestOther"
                      ng-if="shiftChangeAppli.status != 'REJECTED' &&
                          shiftChangeAppli.status != 'APPROVED' && shiftChangeAppli.status != 'CANCELLED' &&
                          shiftChangeAppli.status != 'CANCELLATION APPROVED' && shiftChangeAppli.status != 'CANCELLATION REJECTED'" >
                      {{shiftChangeAppli.status}}
                    </h2>
                  </div>
                </div>
              </div> -->
            </div>
      
            <div class="noDataAvailavle" ng-show="IsShiftChangeAccessible == 'true'" ng-if="shiftChangeAppliList.length == 0" >
              <!-- <center><h4>No Data Available</h4></center> -->
              <img src="./img/no-result.png" alt="">
            </div>
            <br />
          </div>




          <!-- NEW ADDED FROM HERE -->
          <script id="my-modal-shift-change.html" type="text/ng-template">
            <ion-modal-view style="height: 400px" class="modal-payslip">
            <ion-content has-bouncing="false">
       <div style="text-align:right;margin-right:8px;" >
   <img id="imgcrossnoti" ng-src="./img/cross.png" src="./img/cross.png" ng-click="closeModalShiftChange()">
   </div>

   <div class="row" style="background-color: white">
            <div class="col" style="color:grey;text-align:center;">
            <b>{{shiftChangeDetails.fromDate | date : "dd/MM/yyyy"}}</b>
            </div>
            </div>

            <div class="row" style="background-color: white;text-align:center;margin-top:-4%;">
            <div class="col" style="color:grey" >
            {{shiftChangeDetails.status}}<b ng-if="shiftChangeDetails.status=='SENT FOR APPROVAL'">({{shiftChangeDetails.approvalPendingFrom}})</b>
            </div>
            </div>

   <!--  -->
            <div class="row" style="background-color: white">
            <div class="col" style="color:grey">
            <b>Date</b>:
            </div>
            <div class="col" style="color:grey">
            {{shiftChangeDetails.fromDate | date : "dd/MM/yyyy"}}
            </div>
            </div>

            <div class="row" style="background-color: white">
            <div class="col" style="color:grey">
            <b>Roster Shift</b>:
            </div>
            <div class="col" style="color:grey">
            {{shiftChangeDetails.rosterShiftName}}
            </div>
            </div>

            <div class="row" style="background-color: white">
            <div class="col" style="color:grey">
            <b>Shift Change To</b>:
            </div>
            <div class="col" style="color:grey">
            {{shiftChangeDetails.changedShiftName}}
            </div>
            </div>
            <div class="row" style="background-color: white">
            <div class="col" style="color:grey">
            <b>Reason for Shift Change</b>:
            </div>
            <div class="col" style="color:grey">
            {{shiftChangeDetails.reasonToChange}}
            </div>
            </div>
   <div style="text-align:center;">
   <br><br>
   <button class="button  button-positive" style="width:50%;" ng-click="closeModalShiftChange()">
   Close
   </button>
   </div>

            </ion-content>
            </ion-modal-view>
 </script>
    
    
    </ion-content>
</ion-view>
<script>
    var sliBtn = '.search-btn',
        sliCont = '.search-slide',
        sliTxt = '.search-slide input[type=text]',
        sliDis = '.search-close',
        sliSpd = 300;
  
    $(sliBtn).click(function(){
  
      $('.recentRecord').css("display", "none").fadeOut(4000);
      $(sliCont).animate(
        {'width':'20.5625em'}, sliSpd);
      $(sliTxt).focus();
    });
    $(sliDis).click(function(){
      setTimeout(function() {
        $('.recentRecord').css("display", "inline-block");
  }, 1000);
  
      $(sliCont).animate(
        {'width':0}, sliSpd);
    });
        </script>
  <script>
  
  
    $(document).ready(function() {
     $(".center").slick({
        dots: true,
        infinite: false,
        speed: 300,
        arrows: false,
        slidesToShow: 4,
        slidesToScroll: 2,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          }
        ]
      });
    });
  </script>